@charset "utf-8";

/*헤더구역, 풋터구역 등 기타 공통구역에 대한 스타일*/

#header {
    background: tomato;
}
.row {
    max-width: 1300px;
    margin: 0 auto;
}
.topmenu .row { 
    position: relative;
}
.topmenu {
    background:#0099d2;
    color: #e8e8e8;
    padding: 10px 15px;
}
.topmenu .login a {
    padding:0px 5px 0px 15px ;
    font-size: 14px;
    font-weight: bold;
}
.topmenu .login a:hover {
    color: #fff;
}
.topmenu .sns {
    position: absolute;
    top: 55%; right: 20px;
    transform: translateY(-55%);

}
.topmenu .sns a {
    display:inline-block;
    font-size: 27px;
    border-radius: 10px;
}
.topmenu .sns a:hover {
    color: #fff;
} 
.logoNav {
    position: relative;
}
.logoNav .nav {
    position: absolute;
    top: 55%; right: 50px;
    transform: translateY(-50%);
    z-index: 99999999; 

}
.logoNav .nav .depth1 > li {
    display: inline-block;
    position: relative;
    /* padding: 30px 25px; */
    /* background: red; */
    width: 129px;
    height: 90px;
}
.logoNav .nav .depth1 > li:hover .depth2 {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;    
}
.logoNav .nav .depth1 > li > a {
    font-size: 16px;
    color: #fff;
    display:block;
    font-weight: bold;
    padding: 37px 0px;
    text-align: center;
}
.logoNav .nav .depth1 > li a:hover {
    color:#0099d2;
    transition: all 0.5s;
}
.logoNav .nav .depth2 {
    display: none;
}
.logoNav .nav .depth2 > li{
    animation:fadeInUp 0.5s both 1;
}
.logoNav .nav .depth2 > li > a {
    display:block;
    font-size: 14px;
    color:#fff;
    background-color: #0099d2;
    text-align: center;
    height: 40px;    
    padding:10px;
}
.logoNav .nav .depth2 > li > a:hover {
    background:rgba(31, 31, 31, 0.76);
    color:#fff;
}

/* #section {padding-top: 131px;} */
.slide {
    width: 100%;
    height: 950px;
    overflow: hidden;
}
.slide .slideInner {
    background-size: cover;
    background-repeat: no-repeat;
    height: 950px;
    background-position: center;
    position: relative;
}
.slide .slideInner:nth-child(1)
{background-image: url(../images/main_metapo02.jpg);}
.slide .slideInner:nth-child(2)
{background-image: url(../images/main_metapo03.jpg);}
.slide .slideInner:nth-child(3)
{background-image: url(../images/main_metapo01.jpg);}

.slide .slideInner .text {
    position: absolute;
    top:50%; left: 0%;
    transform: translateY(-50px);
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: '나눔고딕';
    padding-top: 50px;

}
.slide .slideInner .text h2 {
    font-size: 57px;
    color: #fff;
    padding-bottom: 50px;
    position: relative;
    
}
.slide .slideInner .text h2:after {
    content:''; width:300px; 
    height:2px; 
    background:#fff;
    position:absolute; bottom:0;
    left:50%; margin-left: -150px;

}
.slide .slideInner .text h3 {
    font-size: 76px;
    color:#fff;
    padding: 25px 0px;
    margin:30px 0 ;
    background-image: linear-gradient(90deg,rgba(255,255,255,0.00) 0%,
    rgba(255,255,255,0.20) 24.35%,rgba(255,255,255,0.20) 79.27%,
    rgba(255,255,255,0.00) 100%);
}
.slide .slideInner .text h4 {
    font-size: 28.5px;
    color:#fff;
    margin:0 0 100px;
}

/* ================================================== */
#section .backcolor {background:tomato}
.pic4menu {padding: 60px 0px;
    /* background: greenyellow; */
}
.pic4menu > .column {
    float: left;
    width:47%;
    /* padding: 15px 0px; */
    position: relative;
}
.column div:first-child {
    margin-bottom: 15px;    
}
.column .white:hover::after {
    content: ''; position: absolute;
    top: 0 ; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.45);}

.column .dark:after {
    content: ''; position: absolute;
    top: 0 ; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,1);
}
.column .dark:hover:after {
    content: ''; position: absolute;
    top: 0 ; left: 0; right: 0; bottom: 0;
    background:rgba(0,0,0,0.5);
}

.pic4menu > .column:nth-child(2) {margin: 0 1.5%;}
.pic4menu img {width: 100%;}
.pic4menu > .column > div {
    position: relative;}
.pic4menu .overlay {
    position: absolute;
    top: 50% ; left: 0; right: 0; bottom: 0;
    transform: translateY(-50%);
    z-index: 99999;
}
.column .overlay .copy {
    display: block;
    color: rgba(255,255,255,0.7);
    text-align: center;
    line-height: 1.5;
    
}
.column .overlay .copy h1 {font-size: 26.775px;}
.column .overlay .copy p {margin-bottom: 70px;}
.column .overlay .copy span {
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid #fff;
    padding: 5px 35px;  
    transition: all 0.5s;
    font-weight: bold;
}
.column .overlay .copy span:hover {
    background: rgba(255,255,255,0.45);
}
.column div:hover img,
.column div:hover h1,
.column div:hover p {transform: scale(1.1);}

.column >div {height: 280px;
    overflow: hidden;}

    /* =============================================== */
.cscenter {
    padding: 60px 0;
    /* background: green; */
}
.cscenter >div {float: left;}
.cscenter .board {
    width: 31.5%; 
    /* background: rgb(201, 201, 25) */
}
.cscenter .board .tabTit {position: relative;}
.cscenter .board .tabTit a {display: inline-block;}

.cscenter .board .tabTit a:nth-child(1) {
    font-size: 22px;
    color: #3a3a3a;
    position: relative;
    padding-bottom: 15px;
}
.cscenter .board .tabTit a:nth-child(1):after {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    bottom: 2px;
    left: 0px;
    background-color: #131d1d;
    
}
.cscenter .board .tabTit a:nth-child(2) {
    font-size: 14px;
    color: #A80632;
    padding-bottom: 30px;
    
}
.cscenter .board .tabTit a:nth-child(3) {
    font-size: 12px;
    color: #fff;
    background: #707070;
    padding: 1px 5px ;
    border: 1px solid #707070;
    position: absolute;
    top: 100; right: 0;
}
.cscenter .board .tabCont td a:before {content:'ㆍ';}
.cscenter .board .tabCont td {
    font-size: 14px;
    color: #6e6e6e;
    white-space: nowrap; 
    overflow:hidden; 
    text-overflow: ellipsis;
    line-height: 1.8;
}
.cscenter .board .tabCont td:last-child {
    padding-left: 80px;
}

.youtube {
    float: left;
    width: 31.5%;
    margin: 0 2.5%;
}
.youtube .box {
    position: relative;
    padding-top: 56.25%;
}
.youtube .box iframe {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}
.contact {
    float: left;
    width: 31.5%;
    padding: 20px 0;
}
.contact > .contact_box {
}

/* =============================================== */
.businessInfo {
    padding: 60px 15px;
    background-image: url(../images/banner_bg02.jpg);
    height: 402px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.businessInfo h1 {
    font-size: 28px;
    font-family: '나눔고딕';
    text-align: center;
    color: #fff;
    display: block;
    padding-bottom: 25px;

}
.icon li > a {display: block;}
.icon li{
    width: 24.5%;
    display: inline-block;
    text-align: center;
}  
.icon li .icon_bolt > div {
    width: 100px; height: 100px;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    color:#0099d2;
    margin: 0 106px;
    font-size: 43px;
}
/* .icon li .icon_bell > div {
    width: 100px; height: 100px;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    color:#0099d2;
    margin: 0 106px;
    font-size: 43px;
}
.icon li .icon_at > div {
    width: 100px; height: 100px;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    color:#0099d2;
    margin: 0 106px;
    font-size: 43px;
}
.icon li .icon_cogs > div {
    width: 100px; height: 100px;
    background: #fff;
    border-radius: 50%;
    line-height: 100px;
    text-align: center;
    color:#0099d2;
    margin: 0 106px;
    font-size: 43px;
} */
.icon h2 {
    font-size: 21px;
    margin: 15px 0px;
    color:#0099d2
}
.icon p {
    font-size: 14px;
    margin: 0px 0px 10px ;
    color: #fff;
    
}
.icon a:hover div > i { 
    color:#333;
}
.icon a:hover div > h2 {
    color: #fff;
}

/* ========================================== */

.item_list {padding: 60px 15px;}
.item_list p {
    font-size: 28px;
    padding: 0 0 40px;
    text-align: center;
}
.profile_list li {
    display: inline-block;
    width: 22.5%;
    margin:1% 1%;
}
.profile_list li img {width: 100%;}
.profile_list li a > span {
    display: block;
    text-align: center;
}
.profile_list li > span{
    display: block;
    text-align: center;
}

/* =============================================== */
.banner {
    height: 500px;
    background-image: url(../images/banner_bg01.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner .text {
    display: inline-block;
    text-align: center;
    color:#fff;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.banner .text h1 {
    font-size: 55.44px;
}
.banner .text h2 {
    font-size: 45.58px;
}
.banner .text h3 {
    font-size: 20.79px;
}
/* ==============================================*/
.product {
    padding: 60px 15px;
}
.product h1 {
    font-size: 38px;
    color: #3a3a3a;
    text-align: center;
}
.product h2 {
    font-size: 16px;
    color: #3a3a3a;
    text-align: center;
    position: relative;
    padding-bottom: 25px;
}
.product h2:after {
    content: '';width: 60px;
    height: 2px;
    position: absolute;
    bottom: 0; left: 50%;margin-left: -30px;
    background: #1f1f1f;
}
.product_list li {
    width: 24.65%;
    display: inline-block;
    padding: 50px 10px 0px;
}
.product_list li img {width: 100%;}
.product_list li span {
    text-align: center;
    display: block;
    color: #6e6e6e;
    padding: 5px 0;
    margin:5px 0;
    border: 1px solid #fff;
    transition: all 0.5s;
}

.product_list li a img:hover {
    opacity: 0.7; transition: all 0.5s;
}
.product_list li img:hover +span {
    background: rgba(199,22,45,1.00);
    color: #fff;
}
.product_list li a > span:hover {
    background: rgba(199,22,45,1.00);
}
/* ========================================== */
.sitemenu_box {
    height: 168px;
    background: #1f1f1f;
    padding: 20px 0;
    position: relative;
}
.sitemenu {
    text-align: center;
}
.sitemenu .depth1 {position: relative;}
.sitemenu .depth1 > li {
    display:inline-block;
    color:#fff;
    padding: 15px 0px;
    width: 15%;
    font-size: 14px;
    font-weight: bold;
    /* border-bottom: 1px solid #fff; */
}
.sitemenu .depth1 > li:hover {
    background:#000;
}
.sitemenu .depth1 > li {position: relative;}
.sitemenu .depth1 > li:after {
    content: "";width: 60px;
    height: 2px;
    position: absolute;
    bottom: 6px; left: 50%;margin-left: -30px;
    background: #fff
}
.sitemenu .depth2 {position: absolute;
     top:100%; left: 0; width: 100%;}
.sitemenu .depth2 > li {
     /* display: inline-block; */
     text-align: center;
}
.sitemenu .depth2 > li > a {
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
    
}
.sitemenu .depth2 > li:hover {
    background:#3a3a3a
}