@charset "utf-8";

/*헤더구역, 풋터구역 등 기타 공통구역에 대한 스타일*/

#header {
    background: tomato;
}
.row {
    max-width: 1300px;
    margin: 0 auto;
}
.topmenu .row { 
    position: relative;
}
.topmenu {
    background:#0099d2;
    color: #e8e8e8;
    padding: 10px 15px;
}
.topmenu .login a {
    padding:0px 5px 0px 15px ;
    font-size: 14px;
    font-weight: bold;
}
.topmenu .login a:hover {
    color: #fff;
}
.topmenu .sns {
    position: absolute;
    top: 55%; right: 20px;
    transform: translateY(-55%);

}
.topmenu .sns a {
    display:inline-block;
    font-size: 27px;
    border-radius: 10px;
}
.topmenu .sns a:hover {
    color: #fff;
} 
.logoNav {
    position: relative;
}
.logoNav .nav {
    position: absolute;
    top: 55%; right: 50px;
    transform: translateY(-50%);
    z-index: 99999999; 

}
.logoNav .nav .depth1 > li {
    display: inline-block;
    position: relative;
    /* padding: 30px 25px; */
    /* background: red; */
    width: 129px;
    height: 90px;
}
.logoNav .nav .depth1 > li:hover .depth2 {
    display: block;
    position: absolute;
    top: 100%;
    width: 100%;    
}
.logoNav .nav .depth1 > li > a {
    font-size: 16px;
    color: #fff;
    display:block;
    font-weight: bold;
    padding: 37px 0px;
    text-align: center;
}
.logoNav .nav .depth1 > li a:hover {
    color:#0099d2;
    transition: all 0.5s;
}
.logoNav .nav .depth2 {
    display: none;
}
.logoNav .nav .depth2 > li{
    animation:fadeInUp 0.5s both 1;
}
.logoNav .nav .depth2 > li > a {
    display:block;
    font-size: 14px;
    color:#fff;
    background-color: #0099d2;
    text-align: center;
    height: 40px;    
    padding:10px;
}
.logoNav .nav .depth2 > li > a:hover {
    background:rgba(31, 31, 31, 0.76);
    color:#fff;
}
/* ========================================================= */

/* ========================================== */
.sitemenu_box {
    height: 168px;
    background: #1f1f1f;
    padding: 20px 0;
    position: relative;
}
.sitemenu {
    text-align: center;
}
.sitemenu .depth1 {position: relative;}
.sitemenu .depth1 > li {
    display:inline-block;
    color:#fff;
    
    width: 15%;
    
    /* border-bottom: 1px solid #fff; */
}
.sitemenu .depth1 > li > a {display: block;font-size: 14px;
    font-weight: bold;padding: 15px 0px;}
.sitemenu .depth1 > li > a:hover {
    background:#000;
}
.sitemenu .depth1 > li {position: relative;}
.sitemenu .depth1 > li:after {
    content: "";width: 60px;
    height: 2px;
    position: absolute;
    bottom: 6px; left: 50%;margin-left: -30px;
    background: #fff
}
.sitemenu .depth2 {position: absolute;
     top:100%; left: 0; width: 100%;}
.sitemenu .depth2 > li {
     /* display: inline-block; */
     text-align: center;
}
.sitemenu .depth2 > li > a {
    display: block;
    font-size: 12px;
    text-align: center;
    padding: 5px 0px;
    
}
.sitemenu .depth2 > li:hover {
    background:#3a3a3a
}

.maps .maps_box {height: 350px;}
.maps .maps_box iframe{
    filter: grayscale();
}

/* ================================== */

.underground {width: 100%;
background: #1f1f1f; text-align: center;
height: 400px;}
.under_menu .under_tab {
    text-align: center;
}
.under_menu .under_tab a {
    font-size: 12px;
    display: inline-block;
    padding: 30px 10px;
    color: #e0e0e0;
    text-align: center;
    position: relative;
}
.under_menu .under_tab a:hover {
    color: tomato;
}
.under_menu .under_tab a:hover::before {
    color: #e0e0e0;
}
.under_menu .under_tab a::before {
    content: '|'; position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
}
.under_menu .under_tab a:nth-child(1)::before{
    display: none;
}
.infocom {height: 220px; }
.infocom li {
    display: inline-block;
    list-style: none;
    color: #e0e0e0;
    width: 19%;
    position: relative;
    /* position: absolute; top: 50%; left: 50%;
    transform: translateY(-50%, -50%); */
    padding-left: 70px ;
}
/* .infocom li:nth-child(1) {
    padding-left: 130px ;
} */
.infocom li h1 {
    font-size: 14px;
    padding: 25px 0;
    text-align: left;
}
.infocom ul li > p {
    font-size: 12px;
    position: absolute;
    top: 100%; 
    line-height: 2;
    /* background: brown; */
    /* margin: 0 20px; */width: 100%;
    text-align: left;
}
.infocom li > p span {
    display: block;
}
/* =================================== */
.copyR_et_sns {
    width: 100%;
     display: inline-block;
     position: relative;
    }
.copyR {
    padding-bottom: 30px;
}
.copyR span {
    color: #e0e0e0;
    display: block;
    text-align: left;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
}
.copyR span:first-child {color: tomato;}
.under_sns {
    font-size: 30px;
    color: #e0e0e0;
    padding-bottom: 30px;
    text-align: right;
    position: absolute; top: 0;
    right: 0;
}
.under_sns a:hover {
    color: tomato;
}