@charset "utf-8";
@import "reset.css";
@import "common.css";

.fixed_bg {
    width: 100%;
    height: 600px;
    background-image:
    url(../images/main_metapo02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}.mid_menu { 
   
}
.mid_menu h1 {
    font-size: 30px;
    display: block;
    color: #333
}
.mid_menu span {
    font-size: 12px;
}
/* .middle_bar {
    height: 50px;
    width: 100%;
    background:#000;
    position: relative;
}
.middle_bar a {
    color:#fff;
    text-align: right;
    display: block;
    padding-top: 15px;
    font-size: 12px;
} */