@charset "utf-8";
@import "reset.css";
@import "common.css";

.fixed_back {
    width: 100%;
    height: 600px;
    background-image: url(../images/main_metapo02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.fixed_back h1 {
    font-size: 30px;
    display: block;
    text-align: center;
    position: absolute; top: 100%; left: 50%;
    /* transform: translateX(-30%); */
    color: #fff;
    padding: 100px 0;
}
.fixed_back span {
    font-size: 12px;
}
/* .middle_bar {
    height: 50px;
    width: 100%;
    background:#000;
    position: relative;
}
.middle_bar a {
    color:#fff;
    text-align: right;
    display: block;
    padding-top: 15px;
    font-size: 12px;
} */